@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;669&display=swap');

body {
  background-image: url("../../images/background.png");
  background-size: cover;
}

.teampickerCard {
  background: #082455 !important;
  margin: 20px 0 20px 0 !important;
  text-align: center;
  h1 {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
  }
}

.ant-form-item-label > label {
  color: #fff !important;
}

.center {
  justify-content: center;
  align-items: center;
}

.team1 .ant-form-item-control {
  align-self: flex-end;
  width: 100%;
}
