@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;669&display=swap');
body {
  background-color: #515151 !important;
}

.logo {
  float: center;
  width: 50%
}

.allMatchesCard {
  // background-image: url("/src/images/backgroud.png");
  background-position: bottom right;
  background: #082455 !important;
  margin: 20px 0 20px 0 !important;
  .ant-card {
    &-head {
      background: #232323;
      color: #fff;
    }
    &-body {
      margin: 8px;
      color: #fff;
      h1 {
        color: #fff;
      }
    }
  }
}

.teamName {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff
}

.awayTeam {
  text-align: right;
}

.teamScore {
  text-align: center;
  background: #282826;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: yellow;
  display: inline-block;
  height: 32px;
  width: 55px;
  border: 1px solid #fff;
  padding: 0 4px 0px 4px;
  text-align: right;
  line-height: 26px;
}

.spacer {
  padding: 3px;
}

.icon { 
  height: 36px;
  padding: 0 4px 0 4px;
}

.home {
  text-align: right;
}
.vs {
  text-align: center;
}
.winner {
  font-size: 24px;
  font-weight: bold;
  color: yellow;
}

.gameItem {
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .teamName {
    font-size: 12px;
    color: #fff
  }
  .teamScore {
    font-size: 16px;
    width: 30px;
  }
  .icon { 
    height: 20px;
    padding: 0 4px 0 4px;
}
}

.date {
  font-size: 12px;
  color: #fff;
  opacity: .4;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}
