.resultsCard.ant-card {
  .ant-card-head {
    border: none;
    font-weight: bold;
    text-align: center;
    .ant-card-head-wrapper {
      .ant-card-head-title {
        font-color: #ccc;
        font-size: 36px;
        padding-bottom: 0;
        white-space: normal;
        word-wrap: normal;
      }
    }
  }
  .ant-card-body {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    img {
      width: 60%;
    }
    .ant-divider {
      border-color: #ccc;
    }
    .vs {
      border: 1px solid #ccc;
      color: #ccc;
      font-size: 1.4rem;
      font-weight: bold;
      padding: 0 !important;
      text-align: center;
    }
  }
}

.teamCard.ant-card {
  background-image: none;
  background: none;
  border: 0;
  .ant-card-head {
    .ant-card-head-wrapper {
      .ant-card-head-title {
        font-size: 20px !important;
      }
    }
  }
  .ant-card-body {
    display: flex;
    align-items: center;
    min-height: 160px;
    .record {
      margin-top: 5px;
    }
  }
}
