@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;669&display=swap');

.resultsCard.ant-card {
  background: #082455;
  margin: 20px 0 10px 0 !important;
  .ant-card-head {
      background: #082455;
      color: #fff !important;
      font-family: 'Orbitron', sans-serif;
      font-weight: bold;
      font-size: 40px;
      border-color: #082455 !important;
      text-align: center;
    .ant-card-head-wrapper {
      .ant-card-head-title {
        font-size: 28px !important;
        word-wrap: normal;
        white-space: normal;
        padding-bottom: 0;
      }
    }
  }
  .ant-card-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #082455;
    padding-top: 0;
    .ant-divider {
      border-color: #3c507b;
    }
    .vs {
      font-family: 'Orbitron', sans-serif;
      font-weight: bold;
      font-size: 1.4rem;
      padding: 0 !important;
      text-align: center;
      color: #3c507b;
      border: 1px solid #3c507b;
    }
  }
}

.teamCard.ant-card {
  .ant-card-head {
    color: #000;
    .ant-card-head-wrapper {
      .ant-card-head-title {
        color: #fff;
        font-size: 20px !important;
      }
    }
  }
  .ant-card-body {
    display: flex;
    align-items: center;
    min-height: 160px;
    .record {
      margin-top: 5px;
      color: #fff;
      font-family: 'Orbitron', sans-serif;
    }
  }
}
