@import '~antd/dist/antd.css';

:root {

    // globals
    --global-color__blue: #15659D;
    --global-color__white: #FFFFFF;
    --global-color__green: #34C759;
    --global-color__red: #FF3B30;
}
