@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;669&display=swap');

:root {

    // globals
    --global-color__blue: #15659D;
    --global-color__white: #FFFFFF;
    --global-color__green: #34C759;
    --global-color__red: #FF3B30;
}

body {
  background-image: url("/images/background.png");
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
}

h1, h2, .ant-card-head-title, .record {
  color: #fff;
}

.ant-card {
  background: #082455 !important;
  margin: 20px 0 10px 0;
  border: 5px solid #ccc;
}

.ant-card-head {
  background: #082455 !important;
}
